name: tests

on:
  pull_request:
  push:
    branches:
      - main

env:
  FORCE_COLOR: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - windows-11-arm
          - macos-latest
        python:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14-dev'
        exclude:
          - os: windows-11-arm
            python: '3.10'
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - run: python -m pip install .[test]
      - run: python -m pytest --showlocals -vv --cov --cov-report=xml
      - uses: codecov/codecov-action@v4
        if: always()
        env:
          PYTHON: ${{ matrix.python }}
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          flags: tests
          env_vars: PYTHON
          name: ${{ matrix.os }} - ${{ matrix.python }}
